body {
  font-family: 'Times New Roman', Times, sans-serif;
}

.hide {
  display: none;
}

.car {
  width: 50px;
  height: 100px;
  background: transparent url('./image/player.png') no-repeat center / cover;
}